<div id="<%= dom_id post %>">
    <% if post.image? %>
      <figure>
        <% image_url = params[:action] == 'index' ? post.image.list.url : post.image.url %>
        <%= image_tag image_url, alt: post.title %>
        <figcaption><%= h(File.basename(image_url)) %></figcaption>
      </figure>
    <% end %>
</div>
